html, body {
	background-color:#38333A;
	padding:0px;
	margin:0px;
	height:100%;
	width:100%;
}

#header {
	display:block;
	text-align:left;
	font-size:45px;
	font-family:"Courier New", Courier, monospace;
	background-color:#8F5148; 
	margin:0%;
	padding: 20px;
	

}

#navbar {
	background-color: #D94639;
	display: block;
	margin-top: 10px;
	border-top:2px solid black;
	border-bottom:2px solid black;
	width:100%;

}

#mainbody {
	background-color:#D19E58;
	width:96%;
	height:70%;
	display:block;
	margin-left:auto;
	margin-right:auto;
	margin-top:20px;
	border:2px solid black;
}

#greeting {
	background-color: #D9CFB1;
	border:2px solid black;
	margin-left:auto;
	margin-right:auto;
	margin-top: 10px;
	width:97%;
	padding: 5px;

}

.nav {
	display:inline-block;    
    width:25%;
    text-align:center;
}