<!DOCTYPE html>
<html>

  <head>
  {% block head %}
    <title>{% block title %}{% endblock %} - LupBrew</title>
    <link type="text/css" rel="stylesheet" href="/static/stylesheet.css" />
  {% endblock %}
  </head>

  <body>
  <div id="top">	
    <div id="header">
    	Lupbrew Beer Recipie Generator
    </div>

    <div id="navbar">
    	<span class=nav><a href="/">Generator</a></span>
      <span class=nav><a href="submit.html">Submit a Recipie</a></span>
      <span class=nav><a href="about.html">About</a></span>
      <span class=nav><a href="links.html">Dope Links</a></span>
    </div>
  </div>
  <div id="mainbody">
    <div id="content">
        
      {% block content %}{% endblock %}  

    </div>
  </div>
  </body>

</html>