<!DOCTYPE html>
<html>

  <head>
    <title>Lupurus Homebrew Recipes</title>
    <link type="text/css" rel="stylesheet" href="/static/stylesheet.css" />
  </head>

  <body>
  	
    <div id="header">
    	Lupbrew Beer Recipie Generator
    </div>

    <div id="navbar">
    	<span class=nav>Generator</span><span class=nav>Submit a Recipie</span><span class=nav>About</span><span class=nav>Dope Links</span>
    </div>

    <div id="mainbody">
        
        <div id="greeting">
        	Hey! Welcome to Lupbrew, a machine for turning minimalist beer parameters into readable recipes, handling the brew day math, and adapting those recipes to different brewing methods and equipment setups! This is some filler text to see how this display works before there is any actual content or machinery! WaOoOooOooooooooooooOOOooo!
        </div>

    </div>

  </body>

</html>